body{
  background:#6fd0da; 
  text-align: center;
   /* background-image: url('calculator.png');
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:100vh; */
}


.border.border-primary{
  background:#f8b6d1;
  border:none !important;
  border-radius:20px !important;
  box-shadow:0 10px 25px rgba(0,0,0,0.25);
}


#ans{
  background:#fff;
  /* border:none; */
  border-radius:12px 12px 0 0; 
 font-size:16px;
  text-align:right;
  margin-bottom:0;           
}

#calculator-input{
  background:#fff;
  border:none;
  border-radius:0 0 12px 12px; 
  font-size:20px;
  text-align:right;
  margin-top:0;              
 

}


#ans:focus,
#calculator-input:focus{
  box-shadow:none;
  outline:none;
}



.calculator-grid {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  grid-template-rows: repeat(5, 55px);
  gap:10px;
  justify-content:center;
}


.calculator-grid > div {
  display:flex;
/* height: 10vh; */
}


.calculator-grid button{
  background:#ff5fa2 ;
  border:none;
  border-radius:14px;
  color:white;
  font-size:17px;
  font-weight:500;

}
.btn-ac{
  background-color:#e63946 !important;
  color:white !important;
}
.calculator-grid button:hover{
  background:#ff3f8f !important;
}


.plus-button{
  grid-column:5;
  grid-row:4 / 6;
}

.plus-button button{
  height:100%;
  font-size:22px;
}

.calculator-grid button:contains("0"){
  grid-column:1 / 3;
}


h1{
  color:#fff;
  text-align:center;
  margin-bottom:20px;
}


@media(max-width:500px){
  .calculator-grid{
    grid-template-columns: repeat(5, 1fr);
  }
}

